<h1>Add Country</h1>
<ul>
    <li>Country Code must be 3 characters </li>
    <li>Country Name must be at leastr 3 characters</li>
  </ul>
<form action="/addCountry" method="POST">
    <p>Country Code: <input type="text" name="co_code" ></p>
    <p>Country Name: <input type="text" name="co_name" "></p>
    <p>Country Details: <textarea type="text" name="co_details" rows="10" cols="30" ></textarea></p>
    <input type="submit" value="OK">
</form>