<h1>Add Head of State</h1>

<ul>
    <li>Cannot add Head of State that already exists.</li>
  </ul>

  <form action="/addHeadOfState" method="POST">
    <p>Country Code: <input type="text" name="_id" ></p>
    <p>Head of State: <input type="text" name="headOfState"></p>
    <input type="submit" value="OK">
</form>
